@import "tailwindcss";

@theme {
  --color-ink: #0D0D0C;
  --color-paper: #F5F3EE;
  --color-stone: #8A8779;

  --font-serif: "Fraunces", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

html,
body {
  height: 100%;
}